<!doctype html>
<html lang="en" data-bs-theme="auto">

{{ "<!-- 888b     d888          d8b          888                       -->" | safeHTML }}
{{ "<!-- 8888b   d8888          Y8P          888                       -->" | safeHTML }}
{{ "<!-- 88888b.d88888                       888                       -->" | safeHTML }}
{{ "<!-- 888Y88888P888  .d88b.  888 .d8888b  888888  .d88b.  888d888   -->" | safeHTML }}
{{ "<!-- 888 Y888P 888 d8P  Y8b 888 88K      888    d8P  Y8b 888P'     -->" | safeHTML }}
{{ "<!-- 888  Y8P  888 88888888 888 'Y8888b. 888    88888888 888       -->" | safeHTML }}
{{ "<!-- 888   '   888 Y8b.     888      X88 Y88b.  Y8b.     888       -->" | safeHTML }}
{{ "<!-- 888       888  'Y8888  888  88888P'  'Y888  'Y8888  888       -->" | safeHTML }}

{{ "<!--  Thank you for watching Meister Home Page. -->" | safeHTML }}
{{ "<!-- If you are reading this page... how aboud you join us? -->" | safeHTML }}
{{ "<!-- https://meister.ne.jp/welcome/ */ -->" | safeHTML }}

{{ partial "header.html" . }}

<body>
  {{ partial "nav.html" . }}

  <div class="container mt-5">
    <article>
      {{ block "main" . }}{{ end }}
    </article>
  </div>

  {{ partial "footer.html" . }}
</body>

</html>