<div class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    {{ $isFirst := true }}
    <div class="carousel-inner">
        {{ range .Params }}
        <div class="carousel-item {{ if $isFirst }}active{{ end }}">
            <img src="{{.}}" class="d-block w-10" style="
            width: auto;
            
            height: 400px;
            display: block;
            background-size: cover;" alt="...">
        </div>
        {{ $isFirst = false }}
        {{ end }}
    </div>
</div>